<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>LMS</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>WashServices</display-name>
		<servlet-name>WashServices</servlet-name>
		<servlet-class>de.uplinkgmbh.lms.servlets.WashServices</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WashServices</servlet-name>
		<url-pattern>/WashServices</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>de.uplinkgmbh.lms.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login.html</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>de.uplinkgmbh.lms.servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout.html</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Application</display-name>
		<servlet-name>Application</servlet-name>
		<servlet-class>de.uplinkgmbh.lms.servlets.ApplicationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Application</servlet-name>
		<url-pattern>/Application.html</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Groups</display-name>
		<servlet-name>Groups</servlet-name>
		<servlet-class>de.uplinkgmbh.lms.servlets.GroupsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Groups</servlet-name>
		<url-pattern>/Groups.html</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Role</display-name>
		<servlet-name>Role</servlet-name>
		<servlet-class>de.uplinkgmbh.lms.servlets.RoleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Role</servlet-name>
		<url-pattern>/Role.html</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Warning</display-name>
		<servlet-name>Warning</servlet-name>
		<servlet-class>de.uplinkgmbh.lms.servlets.WarningServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Warning</servlet-name>
		<url-pattern>/Warning.html</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>User</display-name>
		<servlet-name>User</servlet-name>
		<servlet-class>de.uplinkgmbh.lms.servlets.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>User</servlet-name>
		<url-pattern>/User.html</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Organisation</display-name>
		<servlet-name>Organisation</servlet-name>
		<servlet-class>de.uplinkgmbh.lms.servlets.OrganisationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Organisation</servlet-name>
		<url-pattern>/Organisation.html</url-pattern>
	</servlet-mapping>
</web-app>